.item-card {
    border: 1px solid ;
    width: 300px;
    height: 600px;
    background-color: #1e003a;
    margin: 5px;
    border: solid #ff1cd8 1px;
    
    p{
        color: #ff1cd8 ;
        background-color: #1e003a;
        padding: 15px;
    }
    .img-container {
        height: 50%;
        background-color: none;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit:contain;
        }
    }
}