.item-card {
    border: 1px solid red;
    width: 300px;
    margin: 5px;
    .img-container {
        height: 50%;
        background-color: none;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}