.NavBar{
    background-color: #1e003a;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    color: #4fdcff;
    padding-top: 10px;
    .geek{
        background-color: #1e003a;
        color: #ff1cd8;
    }
    .NavBar-Heading{
        background-color: #1e003a;
    }
    h2{
        list-style: none;
        background-color: #1e003a;
        a{
            text-decoration: none;
        }
    }
    link{
        background-color: #1e003a;

    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #1e003a;
        li{
            list-style: none;
            margin: 5px;
            a{text-decoration: none;}
        }
    }
};
