.NavBar{
    background-color: #1e003a;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    color: #4fdcff;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        li{
            list-style: none;
            a{text-decoration: none;}
            
        }
    }
};
